<view class="container">
  <view class="title">todos</view>
  <view class="body">
  <input value="{{inputValue}}" focus="{{focus}}" placeholder="What needs to be done" bindconfirm="add"/>
    <view class="todos {{filterClass}}">
      <view wx:for="{{todos}}" class="{{item.done ? 'done' : ''}}" wx:key="id">
        <icon class="toggle-btn" bindtap="toggle" data-index="{{index}}"/>
        {{item.text}}
        <icon class="remove-btn" bindtap="remove" data-index="{{index}}"/>
      </view>
    </view>
    <view class="msg">
      <text>{{todos.length}} items left</text>
      <view class="filter">
        <text bindtap="filter" data-filter="all">All</text>
        <text bindtap="filter" data-filter="active">Active</text>
        <text bindtap="filter" data-filter="completed">Completed</text>
      </view>
      <text bindtap="clear" class="clear-btn">Clear</text>
    </view>
  </view>
  <image :src="../../assets/alipay.png"/>
</view>
